@media screen and (min-width:1280px){
 h1{
  /*margin-top:70px;*/
 }

 .logo{
  width:14%;
 }

 input{
  width:440px;
  height:30px;
 }

 .fill_field{
  width:440px;
  height:30px;
 }

 .minium_8_characters{
  width:440px;    
  height:30px;
 }

 .cant_contain_space{
  width:440px;   
  height:30px;
 }

 #error{
  width:440px;
  height:30px;
 }
}
